.donat {
  position: relative;

  display: block;

  width: 100%;

  background-color: $bg-blue;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__block-text {
    position: relative;

    display: block;

    padding: 50px 0;
  }

  &__title {
    margin-bottom: 20px;

    text-transform: uppercase;

    color: $white;

    font-family: $font;
    font-size: 42px;
    font-weight: 500;
    font-style: normal;
    line-height: 51px;
  }

  &__title-desc {
    width: 919px;

    color: $white;

    font-family: $font;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 27px;
  }


  &__block-form {
    display: block;

    padding: 48px 0;
  }

  &__headline {
    margin-bottom: 12px;

    color: $white;

    font-family: $font;
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    line-height: 34px;
  }


  &__form {
    position: relative;

    display: block;
  }

  &__fieldset {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;

    border: 1px solid #ffffff;
    border-radius: 5px;
  }


  &__input {
    width: 200px;
    height: 74px;

    text-transform: uppercase;

    color: $white;
    border: none;
    border-radius: 5px;
    background-color: $bg-blue;

    font-family: $font;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    line-height: 22px;

    -moz-appearance: textfield;

    &::placeholder {
      text-transform: uppercase;

      color: $white;

      font-family: $font;
      font-size: 17px;
      font-weight: 600;
      font-style: normal;
      line-height: 22px;
    }

    &::-webkit-outer-spin-button {
      margin: 0;

      -webkit-appearance: none;
    }

    &::-webkit-inner-spin-button {
      margin: 0;

      -webkit-appearance: none;
    }
  }

  &__text {
    padding-right: 10px;
    padding-left: 16px;

    text-transform: uppercase;

    color: $white;

    font-family: $font;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    line-height: 22px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80px;
    height: 74px;

    cursor: pointer;

    border: none;
    border-radius: 5px;
    background-color: $orange;
    background-image: url("../../../../assets/icons/landing/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;

    &:hover {
      background-color: #d26004;
    }
  }
}


// @media (min-width: 1200px) and (max-width: 1499px) {
//   .donat {
//     &__inner {
//       align-items: start;

//       margin-top: 100px;
//       padding: 0 40px;
//     }

//     &__headline {
//       padding-top: 50px;
//     }

//     &__title {
//       width: 740px;
//     }

//     &__title-desc {
//       width: 740px;
//     }
//   }
// }


// @media (min-width: 900px) and (max-width: 1199px) {
//   .donat {
//     &__inner {
//       align-items: start;

//       margin-top: 100px;
//       padding: 0 60px;
//     }

//     &__headline {
//       padding-top: 130px;
//     }

//     &__title {
//       width: 480px;

//       font-size: 36px;
//     }

//     &__title-desc {
//       width: 480px;
//     }

//     &__input {
//       width: 200px;

//       &::placeholder {
//         font-size: 15px;
//       }
//     }
//   }
// }

// @media (min-width: 640px) and (max-width: 899px) {
//   .donat {
//     &__inner {
//       display: grid;
//       justify-content: center;

//       margin-top: 100px;
//       padding: 0 38px;
//     }


//     &__block-text {
//       padding: 50px 0 0 0;
//     }


//     &__title {
//       width: 576px;
//       margin-bottom: 30px;

//       text-align: center;
//     }

//     &__title-desc {
//       width: 576px;

//       text-align: center;
//     }

//     &__block-form {
//       padding: 0 0 50px 0;
//     }

//     &__headline {
//       margin-top: 30px;

//       text-align: center;
//     }

//     &__form {
//       width: 360px;
//       margin: 0 auto;
//     }

//     &__fieldset {
//       width: 360px;
//     }

//     &__input {
//       padding-left: 40px;
//     }
//   }
// }



// @media (min-width: 320px) and (max-width: 639px) {
//   .donat {
//     &__inner {
//       display: grid;
//       justify-content: center;

//       margin-top: 50px;
//       padding: 0 10px;
//     }


//     &__block-text {
//       padding: 20px 0 0 0;
//     }


//     &__title {
//       width: 100%;
//       margin-bottom: 30px;
//       padding: 0 10px;

//       text-align: center;

//       font-size: 26px;
//       line-height: 32px;
//     }

//     &__title-desc {
//       width: 100%;
//       padding: 0 10px;

//       text-align: center;
//     }

//     &__block-form {
//       padding: 0 0 50px 0;
//     }

//     &__headline {
//       margin-top: 30px;

//       text-align: center;
//     }

//     &__form {
//       width: 280px;
//       margin: 0 auto;
//     }

//     &__text {
//       padding-right: 5px;
//       padding-left: 28px;

//       font-size: 14px;
//     }

//     &__input {
//       width: 185px;
//       height: 45px;

//       font-size: 14px;

//       &::placeholder {
//         font-size: 14px;
//       }
//     }

//     &__btn {
//       width: 58px;
//       height: 45px;
//     }
//   }
// }
