.meet {
  position: relative;

  display: block;
  overflow: hidden;

  width: 100%;


  &__inner {
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;

    width: 100%;
    padding-top: 140px;
  }

  &__title {
    margin-bottom: 50px;

    text-align: center;
    text-transform: uppercase;

    color: $jade;

    font-family: $font;
    font-size: 54px;
    font-weight: 600;
    font-style: normal;
    line-height: 66px;
  }

  &__text {
    width: 920px;
    margin-bottom: 100px;

    text-align: center;

    color: $black;

    font-family: $font;
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    line-height: 34px;
  }

  &__choose {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 360px;
    height: 74px;
    margin-top: 100px;
    margin-bottom: 150px;

    border: 1px solid $bg-blue;
    border-radius: 5px;

    &:hover {
      background-color: $bg-blue;
    }

    &:hover .meet__choose-text {
      color: $white;
    }

    &:hover .meet__choose-img use {
      fill: $white;
    }


    &:active {
      background-color: $bg-blue;
    }

    &:active .meet__choose-text {
      color: $white;
    }

    &:active .meet__choose-img use {
      fill: $white;
    }
  }

  &__choose-text {
    margin-right: 10px;

    text-transform: uppercase;

    color: $bg-blue;

    font-family: $font;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 22px;
  }

  &__choose-img {
    width: 25px;
    height: 22px;
  }

  &__choose-img use {
    fill: $bg-blue;
  }
}

.slider-animals {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;


  &__inner {
    position: absolute;
    z-index: 2;
    top: -60px;

    width: 1920px;
    max-width: 100vw;
    height: 1700px;

    pointer-events: none;

    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 85%);
  }

  &__list {
    display: grid;

    grid-gap: 40px;
    grid-template-columns: 440px 440px 440px 440px;
  }

  &__item {
    display: block;
    overflow: hidden;

    width: 440px;

    transition: 0.3s ease-out;

    border-radius: 5px;

    &:hover {
      transition: 0.3s ease-out;
      transform: scale(1.045);

      box-shadow: 0 0 28px rgba(0,0,0,1);
    }
  }

  &__link {
    position: relative;
    z-index: 1;

    display: block;

    width: 100%;


    &:hover .slider-animals__view {
      background-color: $orange;
    }

    &:hover .slider-animals__view-text {
      color: $white;
    }

    &:hover .slider-animals__view-img use {
      fill: $white;
    }


    &:active .slider-animals__view {
      background-color: $orange;
    }

    &:active .slider-animals__view-text {
      color: $white;
    }

    &:active .slider-animals__view-img use {
      fill: $white;
    }
  }

  &__name {
    position: absolute;
    z-index: 2;

    padding: 12px 24px;

    text-align: center;

    color: $white;
    background-color: $bg-blue;

    font-family: $font;
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    line-height: 34px;
  }

  &__img {
    width: 100%;
  }

  &__desc {
    display: flex;
    align-items: center;
    flex-direction: column;

    min-height: 312px;
    margin-top: -3px;
    padding-top: 30px;
    padding-bottom: 44px;

    background-color: $bg-blue;
  }

  &__type {
    margin-bottom: 20px;

    text-align: center;

    color: $white;

    font-family: $font;
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    line-height: 34px;
  }

  &__local {
    width: 350px;
    min-height: 78px;
    margin-bottom: 25px;

    text-align: center;

    color: $white;

    font-family: $font;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 27px;
  }

  &__view {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 240px;
    height: 74px;

    border-radius: 5px;
  }

  &__view-text {
    margin-right: 12px;

    text-transform: uppercase;

    color: $orange;

    font-family: $font;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 22px;
  }

  &__view-img {
    width: 27px;
    height: 25px;
  }

  &__view-img use {
    fill: $orange;
  }
}

.arrows {
  display: flex;
  justify-content: space-between;

  width: 180px;
  margin-bottom: 48px;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;

    border: 1px solid #20113d;
    border-radius: 5px;

    &:hover {
      background-color: $bg-blue;
    }

    &:hover .arrows__item use {
      fill: $white;
    }

    &:active {
      background-color: $bg-blue;
    }
  }

  &__item {
    width: 25px;
    height: 22px;
  }


  &__item use {
    fill: $bg-blue;
  }
}





// @media (min-width: 1500px) and (max-width: 1700px) {
//   .slider-animals {
//     .layout {
//       width: 100vw;
//       padding-left: 40px;
//     }

//     &__inner {
//       background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1) 98%);
//     }
//   }
// }




// @media (min-width: 1000px) and (max-width: 1499px) {
//   .meet {
//     &__text {
//       width: 830px;
//     }

//     &__choose {
//       margin-top: 50px;
//     }
//   }

//   .slider-animals {
//     .layout {
//       width: 100vw;
//       padding-left: 40px;
//     }

//     &__inner {
//       background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1) 98%);
//     }

//     &__list {
//       grid-gap: 20px;
//       grid-template-columns: 1fr 1fr 1fr 1fr;
//     }

//     &__item {
//       width: 455px;
//     }

//     &__local {
//       width: 385px;
//     }
//   }
// }





// @media (min-width: 900px) and (max-width: 999px) {
//   .meet {
//     &__text {
//       width: 830px;
//     }

//     &__choose {
//       margin-top: 50px;
//     }
//   }

//   .slider-animals {
//     .layout {
//       width: 100vw;
//     }

//     &__inner {
//       display: none;
//     }

//     &__list {
//       justify-content: center;

//       padding: 0 20px;

//       grid-gap: 20px;
//       grid-template-columns: 420px 420px;
//     }

//     &__item {
//       width: 420px;

//       &:nth-child(n+5) {
//         display: none;
//       }
//     }
//   }
// }


// @media (min-width: 640px) and (max-width: 899px) {
//   .meet {
//     &__inner {
//       padding-top: 100px;
//     }

//     &__text {
//       width: 600px;
//     }

//     &__choose {
//       width: 340px;
//       margin-top: 50px;
//     }
//   }

//   .slider-animals {
//     .arrows {
//       display: none;
//     }

//     .layout {
//       width: 100vw;
//     }

//     &__inner {
//       display: none;
//     }

//     &__list {
//       justify-content: center;

//       padding: 0 20px;

//       grid-gap: 20px;
//       grid-template-columns: 290px 290px;
//     }

//     &__item {
//       width: 290px;

//       &:nth-child(n+3) {
//         display: none;
//       }
//     }

//     &__desc {
//       display: grid;

//       padding-bottom: 0;

//       grid-template-rows: 0.5fr 110px 0.8fr;
//       justify-items: center;
//     }

//     &__local {
//       width: 240px;
//       margin: 0;
//     }

//     &__type {
//       align-self: start;

//       margin: 0;

//       font-size: 23px;
//     }
//   }
// }



// @media (min-width: 320px) and (max-width: 639px) {
//   .meet {
//     &__inner {
//       padding-top: 50px;
//     }

//     &__title {
//       margin-bottom: 30px;

//       font-size: 26px;
//       font-weight: 500;
//     }

//     &__text {
//       width: 300px;
//       margin-bottom: 30px;

//       font-size: 18px;
//     }

//     &__choose {
//       display: none;
//     }
//   }

//   .slider-animals {
//     .arrows {
//       display: none;
//     }

//     .layout {
//       width: 100vw;
//     }

//     &__inner {
//       display: none;
//     }

//     &__list {
//       justify-content: center;

//       padding: 0 20px;

//       grid-gap: 20px;
//       grid-template-columns: 300px;
//     }

//     &__item {
//       width: 300px;

//       &:nth-child(n+2) {
//         display: none;
//       }
//     }

//     &__desc {
//       display: grid;

//       min-height: 240px;
//       padding-top: 15px;
//       padding-bottom: 0;

//       grid-template-rows: 50px 110px 100px;
//       justify-items: center;
//     }

//     &__local {
//       width: 240px;
//       margin: 0;
//     }

//     &__type {
//       align-self: start;

//       margin: 0;

//       text-align: center;

//       font-size: 23px;
//     }
//   }
// }
